.main_chat
  .main_chat__group-info
    .main_chat__group-info-left
      .main_chat__group-info-name
        = @group.name
      .main_chat__group-info-member
        %p Member :
        %ul
          - @group.users.each do |user|
            %li= user.name
    .main_chat__group-info-right
      .main_chat__group-info-edit
        = link_to edit_group_path(current_user) do
          %p.edit Edit
  .main_chat__message-list
    .main_chat__message-list-contents
      .main_chat__message-coments
        = render @messages
        
  .main_chat__message-form
    .input-box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class:  'input-box__image' do
          = icon('fas', 'image', class:   'icon')
          = f.file_field :image, class:   'input-box__image-file'
        = f.submit 'Send', class: 'form_submit'