.side_bar
  .side_bar__user_name
    .side_bar__user_name-left
      = current_user.name
    .side_bar__user_name-right
      %ul
        = link_to new_group_path do
          %i.far.fa-edit 
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog

  .side_bar__group-list
    - current_user.groups.each do |group|
      .side_bar__group-list-contents
        = link_to '#' do
          .side_bar__group-list-title
            = group.name
          .side_bar__group-list-message
            コメント

